{% load static %}

<link rel="stylesheet" href="{% static 'css/section_cta.css' %}">

<section id="cta-btn" class="d-flex flex-wrap justify-content-center align-items-center py-4">
    <button id="btn-register-student" class="btn btn-primary mx-2 my-2" data-bs-toggle="modal" data-bs-target="#student-form-modal">
        <i class="fas fa-user-plus"></i> Add Participant
    </button>
    <button id="btn-show-registered-student" class="btn btn-success mx-2 my-2">
        <i class="fas fa-user-graduate"></i> Show Registered Participants
    </button>
{#    <button id="btn-add-computer" class="btn btn-secondary mx-2 my-2"#}
{#            style="display: {% if 'guests' in request.path %}none{% endif %}" data-bs-toggle="modal" data-bs-target="#computer-form-modal">#}
{#        <i class="fas fa-laptop-code"></i> Add Computer#}
{#    </button>#}
</section>
{#{% include 'computer_form.html' %}#}
{% include 'participant_form.html' %}
<script src={% static 'js/form.js' %}></script>